.head
{
    text-align: center;
    background-color: #03a9f4;
     padding: 12px;
     margin: 0; 
    font-family:'Times New Roman', Times, serif; 
    font-style: italic;
    transition-duration: 700ms;
    transition-property: all;
    transition-timing-function:linear;

}
