.head
{
    text-align: center;
    background-color: #03a9f4;
     padding: 12px;
     margin: 0; 
    font-family:'Times New Roman', Times, serif; 
    position: relative;
    font-style: italic;
animation-name: middle;
animation-timing-function: ease-in-out;

animation-duration: 1800ms;    
}
@keyframes middle{
    from 
    {
        left:100%;
    }
    to{
left:0%;
    }
}
